<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文创产品</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link th:href="@{/component/bootstrap-3.3.7/css/bootstrap.min.css}"
          href="../../static/component/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Sweet Alert -->
    <link th:href="@{/component/inspinia/css/plugins/sweetalert/sweetalert.css}"
          href="../../static/component/inspinia/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script th:src="@{/component/jquery-2.2.4.js}"
            src="../../static/component/jquery-2.2.4.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script th:src="@{/component/bootstrap-3.3.7/js/bootstrap.min.js}"
            src="../../static/component/bootstrap-3.3.7/js/bootstrap.min.js"></script>

    <link href="../../static/project/style/culture.css" rel="stylesheet" type="text/css" />

    <script>

    </script>
</head>
<body>
<br><br>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-2 column">
                    <!--<img alt="140x140" src="../../static/project/images/culture/u5.jpg" style="float: right">-->
                    <div style="border: 1px solid;float:right;height: 1000px;border-color: #ebebeb"></div>
                </div>
                <div class="col-md-8 column">

                    <div class="row clearfix">
                        <div class="col-md-2 column">
                            <div id="u2221">
                                <!--<img id="u2221_img" src="../../static/project/images/culture/u22.png">-->
                                <a href="#" style="align:center;color: #775637;">文化资源</a>
                            </div>
                            <div id="u2222">
                                <!--<img id="u2221_img" src="../../static/project/images/culture/u22.png">-->
                                <a href="#" style="align:center;color: #775637">文化设施</a>
                            </div>
                            <div id="u2223">
                                <!--<img id="u2221_img" src="../../static/project/images/culture/u22.png">-->
                                <a href="#" style="align:center;color: #775637">文创产品</a>
                            </div>
                            <div id="u2224">
                                <!--<img id="u2221_img" src="../../static/project/images/culture/u22.png">-->
                                <a href="#" style="align:center;color: #775637">健康旅游</a>
                            </div>
                        </div>
                        <div class="col-md-10 column">
                            <div class="tabbable" id="tabs-289988">
                                <ul class="nav nav-tabs" id="myTab">
                                    <li class="active">
                                        <a href="#panel-935011" data-toggle="tab">电视电影</a>
                                    </li>
                                    <li >
                                        <a href="#panel-990177" data-toggle="tab">动漫游戏</a>
                                    </li>
                                    <li >
                                        <a href="#panel-990178" data-toggle="tab">漫画典故</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="panel-935011">
                                        <p>
                                            I'm in Section 1.
                                        </p>
                                    </div>
                                    <div class="tab-pane " id="panel-990177">
                                        <p>
                                            Howdy, I'm in Section 2.
                                        </p>
                                    </div>
                                    <div class="tab-pane " id="panel-990178">
                                        <p>
                                            Howdy, I'm in Section 3.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                    <div class="col-md-2 column">
                        <!--<img alt="140x140" src="../../static/project/images/culture/u5.jpg" style="float: left">-->
                        <div style="border: 1px solid;float:left;height: 1000px;border-color: #ebebeb"></div>
                    </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>